In [8]:
from pandas import DataFrame

In [12]:
df = DataFrame({
    'Date': ['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-01-01'],
    'Fruit': ['Banana','Apple', 'Apple', 'Banana', 'Banana'],
    'Sale': [8, 34, 12, 22, 27]
})

In [10]:
gb = df.groupby(['Fruit', 'Date'])

In [11]:
print(gb.agg('sum'))

                   Sale
Fruit  Date
Apple  2018-02-01    34
       2018-03-01    12
Banana 2018-01-01    35
       2018-04-01    22